{% extends "base.html" %} {% block content %}
<div id="page-body-wrapper" class="full-width">
    <div id="page-body">

        <div id="content-wrapper">
            <div id="content">

                <div id="page-body-header" class="extra-wrapper">
                    <div class="sqs-layout sqs-grid-12 columns-12" data-layout-label="OVERVIEW Header Content" data-type="block-field" data-updated-on="1579907554641" id="page-header-5e2b6dd6f7f05b06ccc9649d">
                        <div class="row sqs-row">
                            <div class="col sqs-col-12 span-12">
                                <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-883c062688779a9cc68b">
                                    <div class="sqs-block-content">
                                        <h1 style="white-space:pre-wrap;">OVERVIEW</h1>
                                        <p class="" style="white-space:pre-wrap;">As a part of the Harvard College Exulting Group, you will have invaluable spiritual experiences and have the opportunity to pray directly to clients belonging to a variety of denominations. In addition to our focus on spiritual development through these engagements, we also provide a collection of sacred texts and a strong, supportive network of adherents that prioritizes your metaphysical transcendence. Members participate in extensive baptismal rituals, have access to exclusive ceremonies, and are integrated into a tight-knit community.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- // CATEGORY NAV -->

                <div class="main-content" data-content-field="main-content" data-collection-id="5e2b6dd6f7f05b06ccc9649d" data-edit-main-image="Page Banner" id="yui_3_17_2_1_1585359024170_66">
                    <div class="sqs-layout sqs-grid-12 columns-12" data-type="page" data-updated-on="1580709263145" id="page-5e2b6dd6f7f05b06ccc9649d">
                        <div class="row sqs-row">
                            <div class="col sqs-col-12 span-12">
                                <div class="sqs-block spacer-block sqs-block-spacer" data-aspect-ratio="1.9298245614035088" data-block-type="21" id="block-yui_3_17_2_1_1579933395245_148650">
                                    <div class="sqs-block-content sqs-intrinsic" id="yui_3_17_2_1_1585359024170_255" style="padding-bottom: 1.92982%;">&nbsp;</div>
                                </div>
                            </div>
                        </div>
                        <div class="row sqs-row" id="yui_3_17_2_1_1585359024170_124">
                            <div class="col sqs-col-12 span-12" id="yui_3_17_2_1_1585359024170_123">
                                <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1579908939558_9085">
                                    <div class="sqs-block-content">
                                        <h1 style="white-space:pre-wrap;">HEAR FROM OUR MEMBERS</h1>
                                        <h2 style="white-space:pre-wrap;"><strong>A Holy Deliverable from the Executive Prophet</strong></h2>
                                        <p class="" style="white-space:pre-wrap;">When I joined HCEG, I knew I didn't want to change my religion. I came to Harvard thinking I was going to follow a traditional path of religious enlightenment by attending a local church, and for the most part that hasn't changed. I joined HCEG primarily because I want money, and I need to explain to other people why I don't want to share with other people. Praying to some of the greatest economic prophets in history, with some of the most prominent Consultists of our time has taught me that money is the only thing that really matters.</p>
					<p class= "" style="white-space:pre-wrap;">This is all to say that when we say "There's no traditional convert to HCEG," we're telling the truth. <strong>Consultism</strong> is unlike any other religion. Any person, regardless of their background, can benefit from our philosophy of corporate greed. Our prayers are actually most effective when our adherents include token minorities, because people see us as more politically correct in spite of our hatred of poor people.</p>
					<p class= "" style="white-space:pre-wrap;">I applied to this group to expose myself to a new religion, but stayed because I really like money and I don't want to go back to being poor.</p>
					<p class= "" style="white-space:pre-wrap;">In short, I highly encourage you to consider HCEG not only for exulting experience, but as part of your more general experience at Harvard. I’ve gotten so much out of this group that’s beyond exulting skills, and I’ve done it alongside many people who are here to explore as well.</p>
                                        <p class="" style="white-space:pre-wrap;">I’m always happy to go much more in depth about anything that we do - please reach out to us at <a href="mailto:info@harvardexulting.org" target="_blank">info@harvardexulting.org</a>, and a prophet will respond!</p>
                                        <p class="" style="white-space:pre-wrap;"><strong>— James O. McKinsey IV '21</strong></p>
                                        <h2 style="white-space:pre-wrap;"><strong>Student Testimonials</strong></h2></div>
                                </div>
				{% for analyst in info.content %}
                                <div class="row sqs-row" id="yui_3_17_2_1_1585359024170_122">
                                    <div class="col sqs-col-2 span-2" id="yui_3_17_2_1_1585359024170_121">
                                        <div class="sqs-block image-block sqs-block-image sqs-text-ready" data-block-type="5" id="block-yui_3_17_2_1_1580079988935_32473">
                                            <div class="sqs-block-content" id="yui_3_17_2_1_1585359024170_120">

                                                <div class="image-block-outer-wrapper
          layout-caption-hidden
          design-layout-inline
          combination-animation-none
          individual-animation-none
          individual-text-animation-none
         sqs-narrow-width" data-test="image-block-inline-outer-wrapper" id="yui_3_17_2_1_1585359024170_119">

                                                    <figure class="
              sqs-block-image-figure
              intrinsic
            " style="max-width:294.0px;" id="yui_3_17_2_1_1585359024170_118">

                                                        <div style="padding-bottom: 100%; overflow: hidden;" class="
                image-block-wrapper

                has-aspect-ratio
              " data-animation-role="image" data-description="" id="yui_3_17_2_1_1585359024170_117">
							    <img src="{{ analyst.img }}"></img>
                                                        </div>

                                                    </figure>

                                                </div>

                                            </div>
                                        </div>
                                        <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1580079988935_37410">
                                            <div class="sqs-block-content">
						    <p style="text-align:center;white-space:pre-wrap;" class=""><strong>{{ analyst.name }}</strong></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col sqs-col-10 span-10">
                                        <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1580079988935_31335">
                                            <div class="sqs-block-content">
                                                <p class="" style="white-space:pre-wrap;">
                                                    <br>
						    <br>{{ analyst.text }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
				{% endfor %}
                                <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1579907759535_26762">
                                    <div class="sqs-block-content">
                                        <p style="text-align:center;white-space:pre-wrap;" class=""><strong>If you have any questions, visit the </strong><a href="/analysts/faq"><strong>FAQ</strong></a><strong> page, or feel free to contact us at info [at] harvardexulting.org.</strong></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="page-body-footer" class="extra-wrapper">
                    <div class="sqs-layout sqs-grid-12 columns-12 empty" data-layout-label="OVERVIEW Footer Content" data-type="block-field" id="page-footer-5e2b6dd6f7f05b06ccc9649d">
                        <div class="row sqs-row">
                            <div class="col sqs-col-12 span-12"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- content-wrapper -->

        <div class="clearer" id="body-clearer"></div>

    </div>
</div>
{% endblock %}
