{% extends "base.html" %} {% block content %}
			<div id="page-body-wrapper" class="full-width">
				<div id="page-body">

					<div id="content-wrapper">
						<div id="content">

							<div id="page-body-header" class="extra-wrapper">
								<div class="sqs-layout sqs-grid-12 columns-12 empty" data-layout-label="Apply to HCCG Header Content" data-type="block-field" id="page-header-5b65c03af950b7f277c8c003"><div class="row sqs-row"><div class="col sqs-col-12 span-12"></div></div></div>
							</div>

					    <!-- // CATEGORY NAV -->

					    <div class="main-content" data-content-field="main-content" data-collection-id="5b65c03af950b7f277c8c003" data-edit-main-image="Page Banner">
								<div class="sqs-layout sqs-grid-12 columns-12" data-type="page" data-updated-on="1581144793468" id="page-5b65c03af950b7f277c8c003"><div class="row sqs-row"><div class="col sqs-col-12 span-12"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1536147475442_8730"><div class="sqs-block-content"><h1 style="white-space:pre-wrap;">JOIN OUR CULT!</h1><p class="" style="white-space:pre-wrap;">The Harvard College Exulting Group accepts applications at the beginning of every semester.&nbsp;All Harvard College undergraduate students are eligible and encouraged to apply. If you are interested in joining us, you're invited to attend one of our information sessions to learn more. You can also learn more about the adherent experience and initiation process <a href="/analysts/experience">here</a>.</p><p class="" style="white-space:pre-wrap;">——</p></div></div>
										<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdiJHDHUI8VmTu_fR4rZTBqMYK7lhvnhuTofu4kBulznturMw/viewform?embedded=true" width="1280" height="3002" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
										</div></div></div>
							</div>

							<div id="page-body-footer" class="extra-wrapper">
								<div class="sqs-layout sqs-grid-12 columns-12 empty" data-layout-label="Apply to HCCG Footer Content" data-type="block-field" data-updated-on="1581144804902" id="page-footer-5b65c03af950b7f277c8c003"><div class="row sqs-row"><div class="col sqs-col-12 span-12"></div></div></div>
							</div>

						</div>
					</div> <!-- content-wrapper -->

					<div class="clearer" id="body-clearer"></div>

	      </div>
	    </div> <!-- page-body-wrapper -->
	    {% endblock %}
