{% extends "base.html" %} {% block content %}
<div id="page-body-wrapper" class="full-width">
    <div id="page-body">

        <div id="content-wrapper">
            <div id="content">

                <div id="page-body-header" class="extra-wrapper">
                    <div class="sqs-layout sqs-grid-12 columns-12" data-layout-label="CLIENTS Header Content" data-type="block-field" data-updated-on="1577684425691" id="page-header-567cb911c21b864703044854">
                        <div class="row sqs-row">
                            <div class="col sqs-col-12 span-12">
                                <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1577682948376_45584">
                                    <div class="sqs-block-content">
                                        <h1 style="white-space:pre-wrap;">SATISFACTION</h1></div>
                                </div>
                                <div class="row sqs-row">
                                    <div class="col sqs-col-6 span-6">
					{% for quote in info.firstcolumn %}
                                        <div class="sqs-block quote-block sqs-block-quote null" data-block-type="31" id="block-yui_3_17_2_1_1577682948376_46246">
                                            <div class="sqs-block-content">

                                                <figure class="block-animation-none">
                                                    <blockquote data-animation-role="quote">
							    <span>&#147;</span>{{ quote.text }}<span>&#148;</span>
                                                    </blockquote>
						    <figcaption class="source">&mdash; {{ quote.name }}</figcaption>
                                                </figure>
                                            </div>
                                        </div>
					{% endfor %}
                                    </div>
                                    <div class="col sqs-col-6 span-6">
					{% for quote in info.secondcolumn %}
                                        <div class="sqs-block quote-block sqs-block-quote null" data-block-type="31" id="block-yui_3_17_2_1_1577682948376_46885">
                                            <div class="sqs-block-content">

                                                <figure class="block-animation-none">
                                                    <blockquote data-animation-role="quote">
							    <span>&#147;</span>{{ quote.text }}<span>&#148;</span>
                                                    </blockquote>
						    <figcaption class="source">&mdash; {{ quote.name }}</figcaption>
                                                </figure>
                                            </div>
                                        </div>
					{% endfor %}
                                    </div>
                                </div>
                                <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_5_1445559412795_26179">
                                    <div class="sqs-block-content">
                                        <h1 style="white-space:pre-wrap;">SELECTED PAST CLIENTS</h1>
                                    </div>
                                </div>
                                <div class="sqs-block gallery-block sqs-block-gallery" data-block-json="&#123;&quot;hSize&quot;:null,&quot;floatDir&quot;:null,&quot;methodOption&quot;:&quot;transient&quot;,&quot;existingGallery&quot;:null,&quot;newWindow&quot;:false,&quot;aspect-ratio&quot;:&quot;standard&quot;,&quot;aspectRatio&quot;:null,&quot;auto-crop&quot;:true,&quot;blockAnimation&quot;:&quot;none&quot;,&quot;collectionId&quot;:&quot;562981ebe4b025e48a0ff5ef&quot;,&quot;design&quot;:&quot;grid&quot;,&quot;lightbox&quot;:false,&quot;padding&quot;:40,&quot;show-meta&quot;:true,&quot;show-meta-basic&quot;:true,&quot;show-meta-only-title&quot;:false,&quot;show-meta-only-description&quot;:false,&quot;square-thumbs&quot;:false,&quot;thumbnails-per-row&quot;:5,&quot;vSize&quot;:null,&quot;transientGalleryId&quot;:&quot;562981ebe4b025e48a0ff5ef&quot;&#125;" data-block-type="8" id="block-yui_3_17_2_5_1445559412795_25039">
                                    <div class="sqs-block-content">

                                        <div class="
  sqs-gallery-container
  sqs-gallery-block-grid
  sqs-gallery-aspect-ratio-standard
  sqs-gallery-thumbnails-per-row-5

  sqs-gallery-block-show-meta

  block-animation-none
  clear">
                                            <div class="sqs-gallery">

						{% for img in info.images %}
                                                <div class="slide" data-type="image" data-animation-role="image">
                                                    <div class="margin-wrapper">
                                                        <a class="image-slide-anchor content-fit">
							  <img src="{{ img }}" width="200"></img>
                                                        </a>

                                                    </div>
                                                </div>
						{% endfor %}


                                            </div>

                                        </div>
                                        <style type="text/css" id="design-grid-css">
                                            #block-yui_3_17_2_5_1445559412795_25039 .sqs-gallery-block-grid .sqs-gallery-design-grid {
                                                margin-right: -40px;
                                            }
                                            
                                            #block-yui_3_17_2_5_1445559412795_25039 .sqs-gallery-block-grid .sqs-gallery-design-grid-slide .margin-wrapper {
                                                margin-right: 40px;
                                                margin-bottom: 40px;
                                            }
                                        </style>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="page-body-footer" class="extra-wrapper">
                    <div class="sqs-layout sqs-grid-12 columns-12" data-layout-label="CLIENTS Footer Content" data-type="block-field" data-updated-on="1576630513346" id="page-footer-567cb911c21b864703044854">
                        <div class="row sqs-row">
                            <div class="col sqs-col-12 span-12">
                                <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_10_1451964951083_162439">
                                    <div class="sqs-block-content">
                                        <p class="" style="white-space:pre-wrap;">Client confidentiality is a top priority at HCCG. The aforementioned clients have provided explicit permission for their names and logos to be used in HCCG marketing materials. The Harvard College Consulting Group has served hundreds of additional businesses across nearly every industry and sector.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- content-wrapper -->

        <div class="clearer" id="body-clearer"></div>

    </div>
</div>
<!-- page-body-wrapper -->
{% endblock %}
