{% extends "base.html" %} {% block content %}
<div id="page-body-wrapper" class="full-width">
    <div id="page-body">
        <div id="content-wrapper">
            <div id="content">
                <div id="page-body-header" class="extra-wrapper">
                    <div class="sqs-layout sqs-grid-12 columns-12" data-layout-label="HARVARD COLLEGE EXULTING GROUP Header Content" data-type="block-field" data-updated-on="1545087056901" id="page-header-561ada63e4b0a09ae301b4db">
                        <div class="row sqs-row">
                            <div class="col sqs-col-4 span-4">
                                <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_30_1482271058321_15007">
                                    <div class="sqs-block-content">
                                        <h2 style="text-align: center; white-space: pre-wrap;"><strong>ABOUT HCEG</strong><br>&nbsp;</h2></div>
                                </div>
                            </div>
                            <div class="col sqs-col-4 span-4">
                                <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_30_1482271058321_15820">
                                    <div class="sqs-block-content">
                                        <h2 style="text-align: center; white-space: pre-wrap;"><strong>PROSPECTIVE CLIENTS</strong><br>&nbsp;</h2></div>
                                </div>
                            </div>
                            <div class="col sqs-col-4 span-4">
                                <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_4_1482267650463_3939">
                                    <div class="sqs-block-content">
                                        <h2 style="text-align: center; white-space: pre-wrap;"><strong>NEW ANALYSTS</strong><br>&nbsp;</h2></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- // CATEGORY NAV -->

                <div class="main-content" data-content-field="main-content" data-collection-id="561ada63e4b0a09ae301b4db" data-edit-main-image="Page Banner">
                    <div class="sqs-layout sqs-grid-12 columns-12" data-type="page" data-updated-on="1580092040253" id="page-561ada63e4b0a09ae301b4db">
                        <div class="row sqs-row">
                            <div class="col sqs-col-4 span-4">
                                <div class="sqs-block image-block sqs-block-image" data-block-type="5" id="block-yui_3_17_2_1_1577601744695_30381">
                                    <div class="sqs-block-content">

                                        <div class="image-block-outer-wrapper layout-caption-below design-layout-inline combination-animation-none individual-animation-none individual-text-animation-none">

                                            <div class="intrinsic" style="max-width:1678.0px;">

                                                <div style="padding-bottom:74.97020721435547%;" class="image-block-wrapper   has-aspect-ratio" data-animation-role="image" data-description="">
                                                    <img src="{{url_for('static', filename='money.jpg')}}" alt="about.jpg" />
                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                </div>
                                <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-22df52e67ff4106956c9">
                                    <div class="sqs-block-content">
                                        <p class="" style="white-space:pre-wrap;">HCEG is a nonprofit student organization at Harvard dedicated to helping businesses grow and achieve their strategic goals. With over 19 years of experience, HCEG has advised hundreds of clients, providing a fresh perspective, thorough analysis, and actionable recommendations.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col sqs-col-4 span-4">
                                <div class="sqs-block image-block sqs-block-image" data-aspect-ratio="75.35014005602241" data-block-type="5" id="block-ab6f36ecad14b587ba5d">
                                    <div class="sqs-block-content">

                                        <div class="image-block-outer-wrapper layout-caption-hidden design-layout-inline combination-animation-none individual-animation-none individual-text-animation-none">

                                            <div class="intrinsic" style="max-width:1460.0px;">

                                                <div style="padding-bottom:75.35014343261719%;" class="image-block-wrapper   has-aspect-ratio" data-animation-role="image" data-description="">
                                                    <img src="{{url_for('static', filename='money.jpg')}}" alt="prospective.jpg" \>
                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                </div>
                                <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-2788527858aa71ba9e38">
                                    <div class="sqs-block-content">
                                        <p class="" style="white-space:pre-wrap;">Through well-trained teams of six Harvard students, HCEG advises clients across many industries and project types. We harness our rich experience of over 19 years to create actionable and unique solutions for clients ranging from public institutions to Fortune 500 companies.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col sqs-col-4 span-4">
                                <div class="sqs-block image-block sqs-block-image" data-aspect-ratio="75.63025210084034" data-block-type="5" id="block-yui_3_17_2_1_1549227152932_12274">
                                    <div class="sqs-block-content">

                                        <div class="image-block-outer-wrapper layout-caption-below design-layout-inline combination-animation-none individual-animation-none individual-text-animation-none">

                                            <div class="intrinsic" style="max-width:2500.0px;">

                                                <div style="padding-bottom:75.6302490234375%;" class="image-block-wrapper   has-aspect-ratio" data-animation-role="image" data-description="">
                                                    <img src="{{url_for('static', filename='money.jpg')}}" alt="analysts.jpg" \>
                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                </div>
                                <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_15_1444599658460_89142">
                                    <div class="sqs-block-content">
                                        <p class="" style="white-space:pre-wrap;">HCEG competitively recruits students at Harvard with demonstrated ability, dedication, and problem-solving skills. We will provide the training, experience, and community to support your future success—both inside and outside of Harvard. We seek students of all talents and interests in order to provide our clients with distinctive strategic advice.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row sqs-row">
                            <div class="col sqs-col-12 span-12">
                                <div class="row sqs-row">
                                    <div class="col sqs-col-4 span-4">
                                        <div class="sqs-block button-block sqs-block-button" data-block-type="53" id="block-yui_3_17_2_1_1545086799498_9241">
                                            <div class="sqs-block-content">
                                                <div class="sqs-block-button-container--center" data-animation-role="button" data-alignment="center" data-button-size="medium">
                                                    <a href="/about" class="sqs-block-button-element--medium sqs-block-button-element">Learn More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col sqs-col-4 span-4">
                                        <div class="sqs-block button-block sqs-block-button" data-block-type="53" id="block-yui_3_17_2_1_1545086799498_13048">
                                            <div class="sqs-block-content">
                                                <div class="sqs-block-button-container--center" data-animation-role="button" data-alignment="center" data-button-size="medium">
                                                    <a href="/clients" class="sqs-block-button-element--medium sqs-block-button-element">Discover</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col sqs-col-4 span-4">
                                        <div class="sqs-block button-block sqs-block-button" data-block-type="53" id="block-yui_3_17_2_1_1545086799498_14063">
                                            <div class="sqs-block-content">
                                                <div class="sqs-block-button-container--center" data-animation-role="button" data-alignment="center" data-button-size="medium">
                                                    <a href="/analysts" class="sqs-block-button-element--medium sqs-block-button-element">Join</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_5_1445559412795_26179">
                                    <div class="sqs-block-content">
                                        <h1 style="white-space:pre-wrap;">SELECTED PAST CLIENTS</h1>
                                    </div>
                                </div>
                                <div class="sqs-block gallery-block sqs-block-gallery" data-block-json="&#123;&quot;hSize&quot;:null,&quot;floatDir&quot;:null,&quot;methodOption&quot;:&quot;transient&quot;,&quot;existingGallery&quot;:null,&quot;newWindow&quot;:false,&quot;aspect-ratio&quot;:&quot;standard&quot;,&quot;aspectRatio&quot;:null,&quot;auto-crop&quot;:true,&quot;blockAnimation&quot;:&quot;none&quot;,&quot;collectionId&quot;:&quot;562981ebe4b025e48a0ff5ef&quot;,&quot;design&quot;:&quot;grid&quot;,&quot;lightbox&quot;:false,&quot;padding&quot;:40,&quot;show-meta&quot;:true,&quot;show-meta-basic&quot;:true,&quot;show-meta-only-title&quot;:false,&quot;show-meta-only-description&quot;:false,&quot;square-thumbs&quot;:false,&quot;thumbnails-per-row&quot;:5,&quot;vSize&quot;:null,&quot;transientGalleryId&quot;:&quot;562981ebe4b025e48a0ff5ef&quot;&#125;" data-block-type="8" id="block-yui_3_17_2_5_1445559412795_25039">
                                    <div class="sqs-block-content">

                                        <div class="
  sqs-gallery-container
  sqs-gallery-block-grid
  sqs-gallery-aspect-ratio-standard
  sqs-gallery-thumbnails-per-row-5

  sqs-gallery-block-show-meta

  block-animation-none
  clear">
                                            <div class="sqs-gallery">

						{% for img in info.images %}
                                                <div class="slide" data-type="image" data-animation-role="image">
                                                    <div class="margin-wrapper">
                                                        <a class="image-slide-anchor content-fit">
							  <img src="{{ img }}" width="200"></img>
                                                        </a>

                                                    </div>
                                                </div>
						{% endfor %}


                                            </div>

                                        </div>
                                        <style type="text/css" id="design-grid-css">
                                            #block-yui_3_17_2_5_1445559412795_25039 .sqs-gallery-block-grid .sqs-gallery-design-grid {
                                                margin-right: -40px;
                                            }
                                            
                                            #block-yui_3_17_2_5_1445559412795_25039 .sqs-gallery-block-grid .sqs-gallery-design-grid-slide .margin-wrapper {
                                                margin-right: 40px;
                                                margin-bottom: 40px;
                                            }
                                        </style>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="page-body-footer" class="extra-wrapper">
                    <div class="sqs-layout sqs-grid-12 columns-12" data-layout-label="HARVARD COLLEGE EXULTING GROUP Footer Content" data-type="block-field" data-updated-on="1577604003668" id="page-footer-561ada63e4b0a09ae301b4db">
                        <div class="row sqs-row">
                            <div class="col sqs-col-12 span-12">
                                <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_8_1482267650463_3996">
                                    <div class="sqs-block-content">
                                        <p class="" style="white-space:pre-wrap;">Adherent confidentiality is a top priority at HCEG. The aforementioned acolytes have provided explicit permission for their names and logos to be used in HCEG evangelistic materials. The Harvard College Exulting Group has converted hundreds of additional parishes across nearly every industry and sector.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper -->
        <div class="clearer" id="body-clearer"></div>
    </div>
</div>
<!-- page-body-wrapper -->
{% endblock %}
