{% extends "base.html" %}

{% block content %}
    <div id="body" class="full-width" style="text-align: center">
        <p>
            Are you the Chosen One?
        </p>
        <form action="" method="post" novalidate>
            {{ info.form.hidden_tag() }}
            <p>
                {{ info.form.username.label }}<br>
                {{ info.form.username(size=32) }}
	    </p>
	    <p>
		{% for error in info.form.username.errors %}
		<span style="color: red">{{ error }}</span>
		{% endfor %}
            </p>
            <p>
                {{ info.form.password.label }}<br>
                {{ info.form.password(size=32) }}
	    </p>
	    <p>
		{% for error in info.form.password.errors %}
		<span style="color: red">{{ error }}</span>
		{% endfor %}
            </p>
	    <p>{{ info.form.remember_me }} {{ info.form.remember_me.label }} </p>
	    {% with messages = get_flashed_messages(with_categories=true) %}
	    {% if messages %}
            {% for cat, msg in messages %}
	    {% if cat == 'error' %}
            <p style="color: red">{{ msg }}</p>
	    {% endif %}
	    {% endfor %}
	    {% endif %}
	    {% endwith %}
            <p>{{ info.form.submit() }}</p>
        </form>
	<p> Newly initiated? <a href="{{ url_for('register') }}">Register here.</a></p>
    </div>
{% endblock %}
